[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
numpy = "*"
beautifulsoup4 = "*"
unidecode = "*"
contractions = "*"
nltk = "*"
gunicorn = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.9"
